/*site.css*/

body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text], input[type=password], textarea {
    width: 150px;
}

/*specify the id from the html file with #*/
#main {
    background-color: #808080;
    padding: 4px;
    margin: 0;
}

#footer {
    background-color: #222;
    color: #eee;
    padding: 8px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.picture {
    max-width: 80px;
    border: 1px solid #222;
    padding: 3px;
}

.menu {
    font-size: 12px;
}

    .menu li{
    list-style-type: none;
}

    .menu li.active {
        font-weight: bold;
    }

#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed; /*drawn in the exact place where we want it to be*/
    height: 100%; 
    width: 250px;
    overflow: hidden;
    left: 0; /*shown at the left side of the page*/
    margin: 0;
}

#wrapper {
    margin: 0 0 0 250px; /*push over 250px due to sidebar being fixed 250px*/

}